apiVersion: apps/v1
kind: Deployment
metadata:
  name: open5gs
spec:
  replicas: 1
  template:
    spec:
      containers:
      - command:
        - 5gc
        - -c
        - open5gs-5gc.yml
        env:
        - name: MONGODB_IP
          value: 127.0.0.1
        - name: OPEN5GS_IP
          value: 10.53.1.2
        - name: UE_IP_BASE
          value: 10.45.0
        - name: UPF_ADVERTISE_IP
          value: 10.53.1.2
        - name: DEBUG
          value: false
        - name: SUBSCRIBER_DB
          value: 001010123456780,00112233445566778899aabbccddeeff,opc,63bfa50ee6523365ff14c1f45f88737d,8000,9,10.45.1.2
        - name: NETWORK_NAME_FULL
          value: OCUDU
        - name: NETWORK_NAME_SHORT
          value: OCUDU
        - name: TZ
          value: UTC
        image: {{ .Values.image.open5gs_5gc.repository }}:{{ .Values.image.open5gs_5gc.tag }}
        imagePullPolicy: Always
        name: open5gs_5gc
        resources:
          requests:
            cpu: 1
            memory: 1Gi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
